@model FinderWebApp.Models.ViewModels.Profile.ParticipantProfileViewModel

<style>

    .form-control:focus {
        box-shadow: none;
        border-color: darkgray;
    }

    .profile-button {
        background-color: forestgreen;
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: darkgray;
        }

        .profile-button:focus {
            background: darkgray;
            box-shadow: none
        }

        .profile-button:active {
            background: darkgray;
            box-shadow: none
        }

    .back:hover {
        color: darkgray;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
</style>


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profilim</h4>
                </div>
                <form asp-action="ParticipantProfile" asp-controller="Profile" method="post">
                    <input type="text" class="form-control" name="Id" value="@Model.User.Id" hidden>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">İsim</label><input id="name" type="text" class="form-control" name="Name" value="@Model.User.Name" required></div>
                        <div class="col-md-6"><label class="labels">Soyisim</label><input id="surname" type="text" class="form-control" name="Lastname" value="@Model.User.Surname"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Telefon Numarası</label><input id="phoneNumber" type="text" name="PhoneNumber" class="form-control" value="@Model.User.PhoneNumber" required></div>
                        <div class="col-md-12"><label class="labels">Email</label><input id="eMail" type="email" class="form-control" name="Email" value="@Model.User.Email"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Meslek</label><input id="job" type="text" name="Job" class="form-control" value="@Model.Participant.Job" required></div>
                        <div class="col-md-12"><label class="labels">Şirket</label><input id="company" type="text" name="Company" class="form-control" value="@Model.Participant.Company"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">CV</label><textarea type="text" name="CV" class="form-control">@Model.Participant.CV</textarea></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Değişiklikleri Kaydet</button></div>
                </form>


                <div class="mt-5 text-center"><a href="@Url.RouteUrl("CreateEvent")" class="btn btn-primary profile-button" type="button" onclick="submitForm()">Etkinlik Başlat</a></div>

            </div>
        </div>
    </div>
</div>


<script>
    function submitForm() {
        if (document.getElementById('name').value != '' && document.getElementById('surname').value != '' && document.getElementById('job').value != '' &&
            document.getElementById('company').value != '' && document.getElementById('phoneNumber').value != '' && document.getElementById('eMail').value != '') {
            swal("Başarılı!", "İşleminiz başarıyla kaydedilmiştir.", "success");
        }
        else {
            swal("Hatalı!", "Eksik alanları doldurunuz", "error")
        }
    }
</script>