@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http

@{
    var User = HttpContextAccessor.HttpContext?.Request.Cookies["User"];
    var Password = HttpContextAccessor.HttpContext?.Request.Cookies["Password"];
    var Role = HttpContextAccessor.HttpContext?.Request.Cookies["Role"];
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Impact Bootstrap Template - Blog</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <h1>Finder<span>.</span></h1>
            </a>

            @if (string.IsNullOrEmpty(User) && string.IsNullOrEmpty(Password))
            {
                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a href="#hero">Anasayfa</a></li>
                        <li><a href="#about">Hakkımızda</a></li>
                        <li><a href="@Url.RouteUrl("EventsRoute")">Etkinlikler</a></li>
                        <li><a href="#testimonials">Görüşler</a></li>
                        <li><a href="#contact">İletişim</a></li>
                        <li><a href="@Url.RouteUrl("SignUpRoute")">Kayıt Ol</a></li>
                        <li><a href="@Url.RouteUrl("SignInRoute")">Giriş Yap</a></li>
                    </ul>
                </nav>
            }


            @if (!string.IsNullOrEmpty(User) && !string.IsNullOrEmpty(Password))
            {
                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a href="#hero">Anasayfa</a></li>
                        <li><a href="#about">Hakkımızda</a></li>
                        <li><a href="@Url.RouteUrl("EventsRoute")">Etkinlikler</a></li>
                        <li><a href="#testimonials">Görüşler</a></li>
                        <li><a href="#contact">İletişim</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Hoşgeldin @User</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a href="@Url.Action("Index","Profile")">Profilim</a></li>
                                <li><a href="@Url.Action("LogOut","Sign")">Çıkış Yap</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            }



            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->
    <!-- End Header -->


    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span>Finder</span>
                    </a>
                    <p>Etkileşimli Kariyer Gelişim Platformu: Web Teknolojileriyle Desteklenen Üniversite-Sektör İşbirliği</p>
                    <div class="social-links d-flex mt-4">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Yararlı Linkler</h4>
                    <ul>
                        <li><a href="#">Anasayfa</a></li>
                        <li><a href="#">Biz Kimiz</a></li>
                        <li><a href="#">Şirketler</a></li>
                        <li><a href="#">Etkinlikler</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Bize Ulaş</h4>
                    <p>
                        Osmangazi, <br>
                        Hadımköy Yolu Cd,<br>
                        34522 Esenyurt/İstanbul <br><br>
                        <strong>Tel:</strong> +90 548 963 85 96<br>
                        <strong>Eposta:</strong> info@finder.com<br>
                    </p>

                </div>

            </div>
        </div>

        <div class="container mt-4">
            <div class="copyright">
                Bütün Haklarımız Saklıdır.
            </div>
        </div>

    </footer><!-- End Footer -->
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
