@model List<FinderWebApp.Models.ViewModels.Events.MyEventsViewModel>
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Etkinlikler</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="index.html">Anasayfa</a></li>
                    <li>Etkinlikler</li>
                </ol>
            </div>
        </nav>
    </div>
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4 posts-list mt-3">
                @foreach (var item in Model.OrderByDescending(x => x.CreatedDate))
                {
                    <div class="col-xl-4 col-md-6">
                        <a href="@Url.RouteUrl("ShowEventRoute",new{id = item.EventId})">
                            <article>
                                <div class="post-img">
                                    <img src="~/files/EventsImages/@item.EventImage" alt="" class="img-fluid">
                                </div>
                                <h2 class="title">
                                    @item.EventHeader
                                </h2>
                                <div class="d-flex align-items-center">
                                    <div class="post-meta">
                                        <p class="post-date">
                                            @item.CreatedDate.ToString("dd.MM.yyyy")
                                        </p>
                                        <a href="@Url.RouteUrl("UserCVProfileRoute",new{userId = item.UserId})">
                                            @item.UserName
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>
                }
            </div>

        </div>
    </section>

</main>